.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.AddPersonSection {
  font-size: 1.5em;
  background-color: greenyellow;
  text-align: left
}

.header{
  font-size: 1.5em;
  background-color: midnightblue;
  height: 50px;
  padding: 20px;
  color: whitesmoke;
}

.login-body{
  margin-top: 5vh;
  margin-left: 30vw;
  margin-right: 30vw;
  font-size: .5cm;
  background-color: white;
  
  padding: 100px;
  border-style: ridge;
  color: black;
}

.wall{
  font-size: .5cm;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 5vh;
  padding: 50px;
  border: chocolate;
  background-color: aliceblue;
  text-align: left;
  color: gray;
  padding: 10px;
  
}

.post-share{
  padding: 10px;
  border-style: ridge;
}
.spacing{
  white-space: 2vw;
}